.body-container{
    position:relative;
    top:35px;
    height:calc(100% - 35px);
}

.body-component{
    display:inline-block;
    width:75%;
    height:100%;
    position:relative;
    padding:1em 0em 1em 1em;
    overflow-y: hidden;    
}
.App{
    height:100%;
}