.nav{    
    width:25%;
    max-width:250px;
    height:100%; 
    display:inline-block;
    vertical-align: top;;
    background-color:#4f5c65;
}
 
.nav_item{
    cursor:pointer;
    
    text-align:center;
    height:50px;
    line-height: 3;
    color:#8797a4;
    margin-bottom:5px;
}